body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background: linear-gradient(to right, #caa8ff, #8fa6ff);
}

.player-side {
    text-align: center;
}

.player-btn {
    background: #28a745;
    border: none;
    padding: 12px 50px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.player-img {
    width: 300px;
    margin-top: 40px;
    transition: 0.3s ease;
}

.active-player img {
    transform: scale(1.25);
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.4));
}

.container {
    background: #f8f8ff;
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 10px;
    justify-content: center;
}

.cell {
    background: white;
    border-radius: 10px;
    border: 2px solid #ddd;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover {
    background: #f0f0f0;
}

#restartButton {
    margin-top: 25px;
    padding: 12px 30px;
    background: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

#restartButton:hover {
    background: #1e7e34;
}

.winning-message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 768px) {
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 15px;
        padding: 15px;
        height: auto;
    }


    .player-side {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .player-btn {
        padding: 8px 22px;
        font-size: 14px;
        border-radius: 8px;
    }

    .player-img {
        width: 90px;          
        margin-top: 8px;
    }

    .active-player img {
        transform: scale(1.05);
    }

  
    .container {
        width: 170px !important;   
        max-width: 50%;
        padding: 15px;
        border-radius: 18px;
        margin: 0 auto;        
    }

    h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .board {
        grid-template-columns: repeat(3, 55px);
        grid-template-rows: repeat(3, 55px);
        gap: 6px;
        justify-content: center;
    }

    .cell {
        font-size: 28px;
        border-radius: 8px;
    }

    #restartButton {
        margin-top: 12px;
        padding: 8px 18px;
        font-size: 13px;
        border-radius: 8px;
    }

    .winning-message {
        font-size: 14px;
        margin-top: 10px;
    }
}
